main#information {
    padding-top: 10%;
    height: 100vh;
}

.information-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
}

.information-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 38px;
}

.care-title {
    text-decoration: underline;
    margin-bottom: 0.5%;
    font-size: 12px;
}

.text {
    font-weight: 200;
    font-size: 11px;
    line-height: 20px;
    width: 75%;
    text-align: center;
}