.cart-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  height: fit-content;
  /* background-color: red; */
  margin: auto;
  margin-top: 80px;
  margin-bottom: 8%;
}

.cart-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.cart-items-container {
  width: 750px;
}

.cart-summary {
  background-color: #ecf1f2;
  width: 88%;
  height: 40vh;
  margin-top: 24px;
}

#cart-summary-text-conatiner {
  padding: 16%;
  line-height: 64px;
  letter-spacing: 1px;
  word-spacing: 4px;
}

#cart-summary-price {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
}
