.grid-container {
  display: grid;
  grid-template-areas: 
      'header'
      'main'
      'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header {
  grid-area: header;
  background-color: rgb(238, 232, 226);
  width: 90%;
  height: 4rem;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  z-index: 200;
}

main {
  grid-area: main;
  /* padding: 1rem; */
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}

/* NavBar */


