main#about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.about-page-container {
    text-align: center;
    justify-content: center;
    width: 35vw;
}

.page-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    margin-bottom: 2.5%;
}

.about-description {
    font-weight: 200;
    font-size: 14px;
    line-height: 22px;
}

